@import './dropzone.css';
@import './vue-multiselect.css';
@import 'flatpickr/dist/flatpickr.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
    @apply text-base;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
    @apply text-base;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme('colors.gray.200');
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: theme('colors.gray.400');
    border-radius: 100vh;
    /* border: 3px solid #edf2f7; */
}

::-webkit-slider-thumb {
    appearance:none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: theme('colors.primary.DEFAULT');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

body:not(.guest-page) #lz_overlay_wm {
    display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.multiselect--disabled {
    cursor: not-allowed;
    pointer-events: visible;
    opacity: 0.6;
}

/* DARK MODE */

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #0e0f11;
}

/* Handle */
.dark ::-webkit-scrollbar-thumb {
    background: theme('colors.zinc.700');
    border-radius: 100vh;
    /* border: 3px solid #edf2f7; */
}

.dark ::-webkit-slider-thumb {
    appearance:none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: theme('colors.primary.DEFAULT');
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
    background: #1d1e22;
}

.textarea-resize {
    field-sizing: content;
    form-sizing: content;
}

#input::before {
    content: '';
    position: absolute;
    color: theme('colors.zinc.400');
    pointer-events: none;
    display: block;
    /* As long as the container is empty, the pseudo-element will be shown */
}

#input:empty::before {
    content: 'Type a message...';
}

#input:focus {
    outline: none;
}

@config '../../tailwind.config.js';
